bin/
.settings/
OpenFlexure.code-workspace
build/
src/cpp_exiftool
opencv/
src/OpenFlexure_autogen/
src/moc_gui.cpp
src/OpenFlexure_automoc.dir/
*.a
*_automoc.cpp
*.save
*.autosave

.vscode/

*.swf
*.air
*.ipa
*.apk


*.pdf
*.zip

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake

CTestTestfile.cmake
src/*_autogen/
test/CTestTestfile.cmake
test/main
Testing/

