bin/
.settings/
OpenFlexure.code-workspace
build/
opencv_build/
opencv_src
src/OpenFlexure_autogen/
src/moc_gui.cpp

*.a
*_automoc.cpp
*.save

.vscode/

*.swf
*.air
*.ipa
*.apk


*.pdf
*.zip

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake



